header {
    display: flex;
    height: 8rem;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
}

.logo {
    width: 15rem;
}

.game-wrap {
    background: url("/game-background.jpg") no-repeat center center;
    background-size: cover;
    padding: 0 3rem 2rem;
    position: relative;
    min-height: 100vh;
}

.game-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding: 2rem;
  }

  @media screen and (max-width: 600px) {
    header {
        flex-direction: column;
    }
  }