.intro-wrap {
    background: url("/intro-background.jpg") no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 3rem;
    align-items: center;
    justify-content: space-evenly;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

button img {
    width: 7rem;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

button img:hover {
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -o-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
}